.Post-box {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.Post-box:last-child {
  border-bottom:  none;
}
.Post-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.Post-title {
  margin: 0;
  font-size: 16px;
  color: #666;
}
.Post-thumbnail {
  width: 100px;
  height: 70px;
  flex: none；
}
.Post-detail {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}
.Post-detail span {
  margin-right: 10px;
}